<div class="layout">
    <aside class="sidebar">

        <div>
            <div class="d-flex align-items-start">
                <i class="fa-brands fa-slack fs-1 me-2 pe-2 ps-2 text-white"></i>
                <div>
                    <div class="logo">TaskTeam</div>
                    <small class="text-white-50">Proje Yönetimi</small>
                </div>
            </div>
            <hr class="border-secondary my-3 w-100">

            <nav>
                <div class="nav-item" routerLink="/dashboard/home" routerLinkActive="active">
                    <i class="bi bi-grid fs-3"></i>
                    <a>Dashboard</a>
                </div>
                <div class="nav-item" routerLink="/dashboard/projects" routerLinkActive="active">
                    <i class="bi bi-folder fs-3"></i>
                    <a>Projeler</a>
                </div>
                <div class="nav-item" routerLink="/dashboard/tasks" routerLinkActive="active">
                    <i class="bi bi-check2-square fs-3"></i>
                    <a>Görevler</a>
                </div>
                <div class="nav-item" routerLink="/dashboard/persons" routerLinkActive="active">
                    <i class="bi bi-people fs-3"></i>
                    <a>Personeller</a>
                </div>
            </nav>
        </div>

        <div>
            <hr class="border-secondary my-3 w-100">
            <div class="bottom cursor-pointer">
                <div class="d-flex align-items-start">
                    <div class="fs-4 me-3 pe-3 ps-3 text-white bg-secondary rounded-2 d-flex align-items-center justify-content-center user-container">
                        {{ firstName?.charAt(0) | uppercase }}
                    </div>
                    <div>
                        <div class="logo">{{ firstName }}</div>
                        <small class="text-white-50">{{ role }}</small>
                    </div>
                </div>

                <div class="d-flex align-items-center mt-2">
                    <i class="bi bi-box-arrow-right fs-4 me-2 pe-1 ps-2 text-white"></i>
                    <a (click)="logout()">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- İçerik -->
    <main class="content">
        <router-outlet></router-outlet>
    </main>
</div>